:root {
  --bg-color: #2a2a72;
  --bg-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  --border-color: #ddd;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --item-color: #fff;
  --add-script-color: #009ffd;
}

body {
  text-align: center;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

#container {
  top: 0;
  /* 100vh - 12vh (footer) = 88vh */
  height: 85vh;
  padding: 1vh 10px 2vh 10px;
  overflow: scroll;
}

/* Hide vertical scrollbar of #container */
::-webkit-scrollbar { 
  display: none; 
}

/* Fields that users can interact with */
input[type="text"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

textarea {
  width: 100% !important;
  height: 50px !important;
  resize: none;
}

button {
  cursor:pointer;
}

input[type="text"], textarea, button {
  border: none;
  outline: none;
  color: var(--text-color);
  border-radius: 5px;
}

/* Script items */
.row {
  display: flex;
}

.left {
  flex: 80%;
  padding: 5px;
}

.right {
  flex: 20%;
}

.script-container {
  background-color: var(--bg-color);
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 4px var(--shadow-color);
  background-color: var(--item-color);
}

.script-title {
  height: 30px;
  margin: 0;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
}

.script-command {
  height: 50%;
  font-size: small;
  background-color: transparent;
}

/* Script buttons */
.script-button {
  height: 50%;
  width: 100%;
}

.script-button:hover {
  background-color: var(--border-color);
}

.run-script-button {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  border-top-right-radius: 5px;
  background-color: transparent;
}

.delete-script-button {
  border-left: 1px solid var(--border-color);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

.script-header {
  margin: 0;
  text-align: left;
  display: inline-block !important;
}

/* Footer */
#footer {
  position: fixed;
  width: 100%;
  bottom: -1px; /* Weird off-by-one error */
  left: -1px;
  height: 12vh;
  border: 1px solid var(--shadow-color);
}

#add-script-button {
  position: fixed;
  width: 90%;
  height: 8vh;
  bottom: 2vh;
  left: 5%;
  font-size: medium;
  font-weight: bold;
  background-color: #FB8C00;
  box-shadow: 1px 1px 4px 4px var(--shadow-color);
}

#add-script-button:hover {
  opacity: 0.7;
}

/* Error display */
#error {
  margin-top: 0;
  margin-bottom: 15px;
}
