:root {
  --bg-color: #fafafa;
  --border-color: #ddd;
  --text-color: #333;
  --item-color: #fff;
  --add-script-color: rgb(18, 116, 237);
  --add-script-color-2: rgb(73, 146, 240);
  --box-shadow: 0 8px 24px rgba(40, 50, 60, 0.18);
}

body {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

#container {
  top: 0;
  /* 100vh - 12vh (footer) = 88vh */
  height: 79vh;
  padding: 1vh 10px 8vh 10px;
  overflow: scroll;
}

/* Hide vertical scrollbar of #container */
::-webkit-scrollbar { 
  display: none; 
}

/* Fields that users can interact with */
input[type="text"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

textarea {
  width: 100% !important;
  height: 50px !important;
  resize: none;
}

button {
  cursor: pointer;
}

input[type="text"], textarea, button {
  border: none;
  outline: none;
  color: var(--text-color);
  border-radius: 5px;
}

/* Script items */
.row {
  display: flex;
}

.left {
  flex: 80%;
  padding: 5px;
}

.right {
  flex: 20%;
}

.script-container {
  background-color: var(--bg-color);
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--item-color);
}

.script-title {
  height: 30px;
  margin: 0;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
}

.script-command {
  height: 50%;
  font-size: small;
  background-color: transparent;
}

/* Script buttons */
.script-button {
  height: 50%;
  width: 100%;
}

.script-button:hover {
  background-color: #fafafa;
}

.run-script-button {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  border-top-right-radius: 5px;
  background-color: transparent;
}

.delete-script-button {
  border-left: 1px solid var(--border-color);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

.script-header {
  margin: 0;
  text-align: left;
  display: inline-block !important;
}

/* Footer */
#footer {
  position: fixed;
  width: 100%;
  bottom: -1px; /* Weird off-by-one error */
  left: -1px;
  height: 12vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#add-script-button {
  position: fixed;
  width: 90%;
  height: 8vh;
  bottom: 2vh;
  left: 5%;
  font-size: medium;
  font-weight: bold;
  color: white;
  background-color: var(--add-script-color);
  background: linear-gradient(65deg, var(--add-script-color) 0%, var(--add-script-color-2) 100%);
  box-shadow: var(--box-shadow);
  font-weight: 320;
}

#add-script-button:hover {
  box-shadow: 0 8px 24px rgba(32,43,54,0.25)
}

/* Error display */
#error {
  margin-top: 0;
  margin-bottom: 15px;
}
